body,
html {
  height: 100%;
}

@font-face {
  font-family: "Great Vibes";
  src: url("../font/GreatVibes-Regular.ttf") format("truetype");
  font-display: fallback;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: background;
  transition-duration: 600ms;
  transition-timing-function: ease;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Black w/opacity/see-through */
  color: white;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  font-size: 60px;
  border: 5px solid #f1f1f1;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  user-select: none;
}

.button-start {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 25px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-start::after,
.button-start::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-start::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-start::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-start:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-start:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-start:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
